div
{
  height: 150px;
  width: 150px;
  background-color: blueviolet;  
}
@media (width: 600px)
{
    div{
        background-color: red;
    }
}
@media (max-width:600px)
{
    div{
        background-color: greenyellow;
    }
}